<section class="advantages" id="advantages">
  <div class="container">
    <div class="wrap">
      <h3 class="advantages-subtitle list-subtitle">Переваги</h3>
      <h2 class="advantages-title section-title">Чому обрати нас?</h2>
      <p class="advantages-text list-text">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>

    <ul class="advantages-list">
      <li class="advantages-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /img/advantages-img/advantages-img1-desk-min.jpg    1x,
              /img/advantages-img/advantages-img1-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/advantages-img/advantages-img1-tab-min.jpg    1x,
              /img/advantages-img/advantages-img1-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/advantages-img/advantages-img1-mob-min.jpg    1x,
              /img/advantages-img/advantages-img1-mob@2x-min.jpg 2x
            "
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/advantages-img1-desk-min.jpg"
            alt="Стійкість та екологічність"
            width="421"
            height="249"
          />
        </picture>
        <div class="text-container">
          <h2 class="adv-list-subtitle section-title">
            Стійкість та екологічність
          </h2>
          <p class="advantages-list-text list-text">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>

      <li class="advantages-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /img/advantages-img/advantages-img2-desk-min.jpg    1x,
              /img/advantages-img/advantages-img2-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/advantages-img/advantages-img2-tab-min.jpg    1x,
              /img/advantages-img/advantages-img2-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/advantages-img/advantages-img2-mob-min.jpg    1x,
              /img/advantages-img/advantages-img2-mob@2x-min.jpg 2x
            "
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/advantages-img2-desk-min.jpg"
            alt="Міцність і довговічність"
            width="421"
            height="249"
          />
        </picture>
        <div class="text-container">
          <h2 class="adv-list-subtitle section-title">
            Міцність і довговічність
          </h2>
          <p class="advantages-list-text">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>

      <li class="advantages-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /img/advantages-img/advantages-img3-desk-min.jpg    1x,
              /img/advantages-img/advantages-img3-desk@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/advantages-img/advantages-img3-tab-min.jpg    1x,
              /img/advantages-img/advantages-img3-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/advantages-img/advantages-img3-mob-min.jpg    1x,
              /img/advantages-img/advantages-img3-mob@2x-min.jpg 2x
            "
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/advantages-img3-desk-min.jpg"
            alt="Стильний та сучасний дизайн"
            width="421"
            height="249"
          />
        </picture>
        <div class="text-container">
          <h2 class="adv-list-subtitle section-title">
            Стильний та сучасний дизайн
          </h2>
          <p class="advantages-list-text list-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
