<section class="advantages-section">
  <div class="container advantages-section-container">
    <div class="subtitle-cont">
      <h3 class="advantages-subtitle">Переваги</h3>
    </div>
    <h2 class="advantages-title section-title">Чому обрати нас?</h2>
    <p class="advantages-text body-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="advantages-list">
      <li class="advantages-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /img/advantages-img/advantages-img1-desk-min.jpg    1x,
              /img/advantages-img/advantages-img1-desk@2x-min.jpg 2x
            "
            width="421"
            height="249"
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/advantages-img/advantages-img1-tab-min.jpg    1x,
              /img/advantages-img/advantages-img1-tab@2x-min.jpg 2x
            "
            width="340"
            height="201"
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/advantages-img/advantages-img1-mob-min.jpg    1x,
              /img/advantages-img/advantages-img1-mob@2x-min.jpg 2x
            "
            width="288"
            height="198"
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/advantages-img1-desk-min.jpg"
            alt="Стійкість та екологічність"
            width="421"
            height="249"
          />
        </picture>
        <h2 class="adv-list-subtitle section-title">
          Стійкість та екологічність
        </h2>
        <p class="advantages-list-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>

      <li class="advantages-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /img/advantages-img/advantages-img2-desk-min.jpg    1x,
              /img/advantages-img/advantages-img2-desk@2x-min.jpg 2x
            "
            width="421"
            height="249"
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/advantages-img/advantages-img2-tab-min.jpg    1x,
              /img/advantages-img/advantages-img2-tab@2x-min.jpg 2x
            "
            width="340"
            height="201"
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/advantages-img/advantages-img2-mob-min.jpg    1x,
              /img/advantages-img/advantages-img2-mob@2x-min.jpg 2x
            "
            width="288"
            height="198"
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/advantages-img2-desk-min.jpg"
            alt="Міцність і довговічність"
            width="421"
            height="249"
          />
        </picture>
        <h2 class="adv-list-subtitle section-title">
          Міцність і довговічність
        </h2>
        <p class="advantages-list-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>

      <li class="advantages-list-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /img/advantages-img/advantages-img3-desk-min.jpg    1x,
              /img/advantages-img/advantages-img3-desk@2x-min.jpg 2x
            "
            width="421"
            height="249"
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/advantages-img/advantages-img3-tab-min.jpg    1x,
              /img/advantages-img/advantages-img3-tab@2x-min.jpg 2x
            "
            width="704"
            height="417"
          />
          <source
            media="(max-width:767px)"
            srcset="
              /img/advantages-img/advantages-img3-mob-min.jpg    1x,
              /img/advantages-img/advantages-img3-mob@2x-min.jpg 2x
            "
            width="288"
            height="198"
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/advantages-img3-desk-min.jpg"
            alt="Стильний та сучасний дизайн"
            width="421"
            height="249"
          />
        </picture>
        <h2 class="adv-list-subtitle section-title">
          Стильний та сучасний дизайн
        </h2>
        <p class="advantages-list-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
