<section class="feedbacks">
  <div class="container">
    <h2 class="feedbacks-title section-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <p class="feedbacks-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <h3 class="feedbacks-author">Анна</h3>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon empty" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <p class="feedbacks-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <h3 class="feedbacks-author">Ігор</h3>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon empty" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <p class="feedbacks-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <h3 class="feedbacks-author">Олена</h3>
      </li>
      <li class="feedbacks-item">
        <ul class="feedbacks-stars-list">
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks-stars-item">
            <svg class="feedbacks-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <p class="feedbacks-text blank">
          Швидка доставка та гарне обслуговування.
        </p>
        <h3 class="feedbacks-author">Сергій</h3>
      </li>
    </ul>
  </div>
</section>
