<footer class="footer">
  <div class="footer-container">
    <div class="footer-first">
      <div class="logo-wrapp">
        <a href="./index.html" class="footer-logo">
          <img
            class="logo-icon"
            src="/img/logo.svg"
            alt="EcoTote logo"
            width="280"
            height="121"
          />
        </a>
      </div>

      <div class="menu-wrapp">
        <nav class="footer-nav">
          <ul class="footer-nav-menu">
            <li><a href="#about" class="footer-menu-list">Про нас</a></li>
            <li>
              <a href="#advantages" class="footer-menu-list">Переваги</a>
            </li>
            <li>
              <a href="#assortment" class="footer-menu-list">Асортимент</a>
            </li>
            <li><a href="#gallery" class="footer-menu-list">Галерея</a></li>
            <li>
              <a href="#feedbacks" class="footer-menu-list">Відгуки</a>
            </li>
            <li><a href="#support" class="footer-menu-list">Контакти</a></li>
          </ul>
        </nav>
      </div>

      <div class="social-wrapp">
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="footer-link"
              ><svg class="social-icon" width="32" height="32">
                <use href="/img/sprite.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              class="footer-link"
              ><svg class="social-icon" width="32" height="32">
                <use href="/img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="footer-link"
              ><svg class="social-icon" width="32" height="32">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-second">
      <address class="footer-contacts">
        <ul class="footer-contacts-list">
          <li class="footer-link">
            <a href="tel:+380999091122" class="connect-phone"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="footer-link">
            <a href="mailto:hello@ecotote.com" class="connect-email"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>

      <p class="footer-copy">© 2025 EcoTote. Всі права захищені.</p>

      <div class="custom-divider"></div>
    </div>
  </div>
</footer>
