<footer>
  <nav class="footer-nav">
    <a href="./index.html" class="footer-logo">
      <svg class="logo-icon" width="273" height="102">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
      <li><a href="assortment" class="menu-list">Асортимент</a></li>
      <li><a href="gallery" class="menu-list">Галерея</a></li>
      <li><a href="feedbacks" class="menu-list">Відгуки</a></li>
      <li><a href="support" class="menu-list">Контакти</a></li>
    </ul>
  </nav>

  <div class="footer-links">
    <ul class="social-list">
      <li class="social-item">
        <a href="https://www.instagram.com/" target="_blank" class="footer-link"
          ><svg class="social-icon" width="32" height="33">
            <use href="./images/icons.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="https://www.linkedin.com/" target="_blank" class="footer-link"
          ><svg class="social-icon" width="32" height="33">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="https://www.youtube.com/" target="_blank" class="footer-link"
          ><svg class="social-icon" width="32" height="33">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <address class="contacts">
    <ul class="contacts-list">
      <li class="email-link">
        <a href="mailto:hello@ecotote.com" class="email">hello@ecotote.com</a>
      </li>
      <li class="tel-link">
        <a href="tel:+380999091122" class="phone">+38 (099) 909 11 22</a>
      </li>
    </ul>
  </address>

  <p class="footer-text">© 2025 EcoTote. Всі права захищені.</p>
</footer>
