<section class="gallery">
  <div class="gallery-title">
    <h2 class="galler"></h2>
    <h3 class="galle"></h3>
  </div>
  <div class="gallery-box">
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/des/eco-des-min.jpg    1x,
              ../img/gallery/des/eco-des@2x-min.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/tab/eco-tab-min.jpg    1x,
              ../img/gallery/tab/eco-tab@2x-min.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery/mob/eco-mob-min.jpg    1x,
              ../img/gallery/mob/eco-mob@2x-min.jpg 2x
            "
          />

          <img src="../img/gallery/des/eco-des-min.jpg" alt="eco tote" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/des/city-des-min.jpg    1x,
              ../img/gallery/des/city-des@2x-min.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/tab/city-tab-min.jpg    1x,
              ../img/gallery/tab/city-tab@2x-min.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery/mob/city-mob-min.jpg    1x,
              ../img/gallery/mob/city-mob@2x-min.jpg 2x
            "
          />

          <img src="../img/gallery/des/city-des-min.jpg" alt="city scene" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/des/person-des-min.jpg    1x,
              ../img/gallery/des/person-des@2x-min.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/tab/person-tab-min.jpg    1x,
              ../img/gallery/tab/person-tab@2x-min.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery/mob/person-mob-min.jpg    1x,
              ../img/gallery/mob/person-mob@2x-min.jpg 2x
            "
          />

          <img
            src="../img/gallery/des/person-des-min.jpg"
            alt="person walking"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/des/young-des-min.jpg    1x,
              ../img/gallery/des/young-des@2x-min.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/tab/young-tab-min.jpg    1x,
              ../img/gallery/tab/young-tab@2x-min.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery/mob/young-mob-min.jpg    1x,
              ../img/gallery/mob/young-mob@2x-min.jpg 2x
            "
          />

          <img src="../img/gallery/des/young-des-min.jpg" alt="young woman" />
        </picture>
      </li>
    </ul>
  </div>
</section>
