<header class="header">
  <div class="container header-container">
    <a class="nav-logo" href="./index.html"
      ><svg class="nav-logo-icon" width="84" height="36">
        <use href="/img/logo.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">Про нас</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#advantages">Переваги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#assortment">Асортимент</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Галерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:info@devstudio.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button class="header-menu-btn" type="button">
      <svg class="icon-menu" width="24" height="24">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu is-open">
    <div class="container mobile-menu-container">
      <div class="mobile-logo-container">
        <a class="burger-nav-logo" href="./index.html">
          <svg class="burger-menu-logo-icon" width="84" height="36">
            <use href="/img/logo.svg#icon-logo"></use>
          </svg>
        </a>
        <button class="mobile-menu-close">
          <svg class="mobile-close-icon" width="16" height="16">
            <use href="/img/sprite.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-nav-container">
        <nav class="mobile-menu-nav">
          <ul class="mobile-menu-nav-list">
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link current" href="#about">Про нас</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link" href="#advantages">Переваги</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link" href="#assortment">Асортимент</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link" href="#gallery">Галерея</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link" href="#feedbacks">Відгуки</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a class="mobile-menu-nav-link" href="#support">Контакти</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-menu-wrapper">
        <address class="mobile-menu-contacts">
          <ul class="mobile-menu-contacts-list">
            <li class="mobile-menu-contacts-item">
              <a class="mobile-menu-contacts-link" href="tel:+380999091122"
                >+38 (099) 909 11 22</a
              >
            </li>
            <li class="mobile-menu-contacts-item">
              <a
                class="mobile-menu-contacts-link"
                href="mailto:hello@ecotote.com"
                >hello@ecotote.com
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</header>
