<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title section-title">
        EcoTote — Стиль, що не шкодить планеті.
      </h1>
      <div class="hero-text-and-btn">
        <p class="hero-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a class="hero-btn btn" href="#assortment">Купити зараз</a>
      </div>
    </div>
    <picture>
      <source
        media="(min-width:1440px)"
        srcset="
          /img/hero/hero-image-desk-min.jpg    1x,
          /img/hero/hero-image-desk@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          /img/hero/hero-image-tab-min.jpg    1x,
          /img/hero/hero-image-tab@2x-min.jpg 2x
        "
      />
      <source
        media="(max-width:767px)"
        srcset="
          /img/hero/hero-image-mob-min.jpg    1x,
          /img/hero/hero-image-mob@2x-min.jpg 2x
        "
      />
      <img
        class="hero-img"
        src="/img/hero/hero-image-desk-min.jpg"
        alt="Єко сумки на фоні природи"
      />
    </picture>
  </div>
</section>
