<section class="support">
  <div class="sup-container">
    <div class="form-sup">
      <div class="support-content">
        <h2 class="section-title sup">
          Залишились питання? Зв'яжіться з нами!
        </h2>
        <h3 class="list-text sup">Ми тут, щоб допомогти!</h3>
      </div>

      <div class="sup-wrap">
        <form class="form-inp-sup">
          <div class="sup-form">
            <label for="user-name" class="inf">Ім'я</label>
            <input
              class="sup-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Іван"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              )
              required
              minlength="5"
              maxlength="64"
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Error text</p>
          </div>

          <div class="sup-form">
            <label for="user-email" class="inf">Електронна пошта</label>
            <input
              class="sup-input"
              type="text"
              name="user-email"
              id="user-email"
              placeholder="hello@ecotote.com"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              )
              required
              minlength="5"
              maxlength="64"
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Error text</p>
          </div>

          <div class="sup-form">
            <label for="user-comment" class="inf">Повідомлення</label>

            <textarea
              class="sup-textarea"
              name="user-comment"
              id="user-comment"
              placeholder="Введіть своє повідомлення..."
              maxlength="500"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              )
              required
            >
            </textarea>
          </div>

          <button type="submit" class="btn sup">Надіслати</button>
        </form>
      </div>
    </div>
    <div class="back-img"></div>
  </div>
</section>
