/* Section feedbacks */

.feedbacks {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
  max-width: 288px;
}

.container {
}

.feedbacks-title {
  font-size: 36px;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}

.feedbacks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.feedbacks-item {
}

.feedbacks-stars-list {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}

.feedbacks-stars-item {
}

.feedbacks-icon {
  fill: #3ac04c;
}

.feedbacks-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 24px;
}

.feedbacks-author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

.feedbacks-icon.empty {
  fill: #030a06;
}

/* media tablet */

@media screen and (min-width: 768px) {
  .feedbacks {
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 768px;
  }

  .feedbacks-list {
    gap: 32px 24px;
  }

  .feedbacks-item {
    width: calc((100% - 24px) / 2);
  }
}

/*media desktop*/

@media screen and (min-width: 1440px) {
  .feedbacks {
    max-width: 1440px;
  }

  .feedbacks-title {
    margin-bottom: 80px;
    font-size: 48px;
  }

  .feedbacks-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .feedbacks-text.blank {
    margin-bottom: 52px;
  }
}
