/* ====== MOBILE ====== */

.footer-container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: #75d281;
}

.footer-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.footer-nav {
  margin-top: 48px;
}

.footer-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  margin-bottom: 48px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.custom-divider {
  height: 0;
  width: 100%;
  border-top: 1px solid rgba(3, 10, 6, 0.15);
  position: absolute;
  top: 0;
}

.footer-menu-list {
  color: #030a06;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.connect-phone,
.connect-email {
  color: #030a06;
}

.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  text-align: center;
}

.footer-contacts-list li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-copy {
  text-align: center;
  color: #030a06;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 24px;
}

.footer-second {
  position: relative;
  padding-top: 24px;
}

/* ===== TABLET ===== */

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .footer {
    padding-top: 64px;
  }

  .logo-icon {
    width: 164px;
    height: 70px;
  }

  .footer-nav-menu {
    flex-direction: row;
    margin-bottom: 32px;
  }

  .footer-nav {
    margin-top: 32px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
  }

  .footer-contacts-list {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
  }

  .footer-copy {
    margin: 0;
  }

  .footer-second {
    padding-top: 16px;
  }

  .footer-first {
    margin-bottom: 24px;
  }
}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1440px;
    padding: 0 64px;
    margin: 0 auto;
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer-first {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
  }

  .footer-nav-menu {
    margin: 0;
  }

  .footer-nav {
    margin: 0;
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }
}
