
.gallery-title
{
    font-size: 48px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px)
{
    .gallery-title 
    {
        margin-bottom: 24px;
    }
}

.gallery-title-text
{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 32px;
}

.gallery-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.gallery-img
{
    width: 100%;
    border-radius: 32px;
    background-color: transparent;
    overflow: hidden;
    
}  

@media screen and (min-width: 768px) 
{
    .gallery-list {
        gap: 24px;
    }

    .gallery-img {
        width: calc((100% - 24px) / 2);
    } 
}

@media screen and (min-width: 1440px) 
{
    .gallery-img
    {
        width: calc((100% - 24px * 2) / 3);
    }
}