.gallery-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.gallery-item
{
    width: 100%;
    border-radius: 32px;
}

@media screen and (min-width: 768px) 
{
    .gallery-list {
        gap: 24px;
    }

    .gallery-item {
        width: calc((100% - 24px) / 2);
    } 
}

@media screen and (min-width: 1440px) 
{
    .gallery-item
    {
        width: calc((100% - 24px * 2) / 3);
    }
}