.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-text-and-btn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 20px;
  max-width: 288px;
}
.hero-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  line-height: 160%;
  color: #030a06;
  max-width: 288px;
}
.hero-btn {
  display: block;
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 12px 24px;
  width: 288px;
  height: 50px;
  background: #030a06;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  line-height: 160%;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}
.hero-img {
  border-radius: 40px;
}
